@page "/"
@using TheMovieWatchlist.Components

<PageTitle>Index</PageTitle>

<div>
    <h1>The Movie Watchlist</h1>
    <AuthorizeView>
        <NotAuthorized>Please sign in to view your watchlist</NotAuthorized>
    </AuthorizeView>
</div>