@page "/Watchlist"
@using System.Security.Claims
@using TheMovieWatchlist.Data
@using TheMovieWatchlist.Components
@inject TheMovieWatchlist.Services.MovieWatchListService movieWatchListService
@inject TheMovieWatchlist.Services.UserService userService;

<AuthorizeView>
    <div class="row">
    @foreach (var movie in WatchlistItems)
    {   
        <div class="col-2 my-2">
            <WatchlistMovie WatchlistItem=@movie></WatchlistMovie>
        </div>
    }
    </div>
</AuthorizeView>

@code {
    public List<WatchlistItem> WatchlistItems { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var userId = await userService.GetUserId();
        WatchlistItems = movieWatchListService.GetUserWatchList(userId);

        var item = new WatchlistItem()
        {
            MovieId = "tt11564570",
            Status = "Watching"
        };

        movieWatchListService.AddMovie(userId, item);
    }
}
